/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Feb 22, 2018, 12:12:56 PM
    Author     : hok14
*/

table{

    border: 1px solid black;

    overflow:scroll;
    width: 100%;
}

.test{
    position: absolute;
    width: 100%;
}

tr a{


    width: 100px;
}

th a{


    width: 100px;
}
th{

    border: 1px solid black;
    width: 100px;
}
tr{

    border: 1px solid black;
    width: 100px;
}
.slice text {
    font-size: 16pt;
    font-family: Arial;
}

text {
    font-size: 15px;
}
#reports {
    font-size: 30px;
    font-style: bold;
}
#max {
    font-size: 25px;
}
#requeststabletext {
   font-size: 30px;
}
.date {
    width: 10%;
    background-color: #008CBA;
    color: #C5B358;
    font-weight: bold;
}
#sparc {
    padding-top: 1%;
    padding-left: 3%;
}
#export {
    background: #000;
    padding: 0.4%;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
#export:hover {
    background: #116d76;
    text-align: center;
    border-radius: 5px;
    color: #C5B358;
    font-weight: bold;
}

form {
    display: flex; /* 2. display flex to the rescue */
    flex-direction: row;
}
.adjust {
    margin-top: 0.5%;
}
#search {
    display: block;
    height:2.4em;
    width: 7em;
    -webkit-border-radius:10px;
    padding: 3px 2px;
}
